<!DOCTYPE html>
<html>
<head>
    <!--bootstrap, font awesome and custom stylesheets -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/stylesheets/stylesheet.css"/>
    <link rel="stylesheet" href="/stylesheets/socialButtons.css"/>
    <!-- Latest compiled and minified JavaScript bootstrap and jquery libraries -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <title>New Bethel Assembly of God</title>
</head>
<body>
<!--Top nav bar-->
<%-include nav.ejs  %>
<!--end top nav bar-->
<!--main body-->
<div class="wrapper">
    <div class="container">
    <div class="jumbotron">
        <center><h1>Page Does Not Exist</h1></center>
        </div>
    </div>
</div>
<!--end main body-->
<!--footer-->
<%-include footer.ejs%>
<!--footer end-->
</body>
</html>
