
<div class="footer navbar-static-bottom">
    <section id="footer" class="footer-divider">
        <div class="container">
            <div id="footer-widgets" class="row clearfix">
                <div class="col-sm-4">
                    <section id="nav_menu-2" class="widget widget_nav_menu clearfix">
                        <div class="widget-heading clearfix">
                            <h6><u>Quicklinks</u></h6>
                        </div>
                        <div class="menu-footer-1-container">
                            <ul id="menu-footer-1" class="menu">
                                <li id="menu-item-4182" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4182"><a href="#">link</a></li>
                                <li id="menu-item-4181" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4181"><a href="#">link</a></li>
                                <li id="menu-item-4184" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4184"><a href="#">link</a></li>
                                <li id="menu-item-4340" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4340"><a href="#">link</a></li>
                                <li id="menu-item-4185" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4185"><a href="link">link</a></li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="col-sm-4">
                    <section id="nav_menu-3" class="widget widget_nav_menu clearfix">
                        <div class="widget-heading clearfix">
                            <h6><u>Other Links</u></h6>
                        </div>
                        <div class="menu-footer-2-container">
                            <ul id="menu-footer-2" class="menu">
                                <li id="menu-item-4187" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4187"><a href="#">link</a></li>
                                <li id="menu-item-4188" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4188"><a href="#">link</a></li>
                                <li id="menu-item-4189" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4189"><a href="#">link</a></li>
                                <li id="menu-item-4421" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4421"><a href="#">link</a></li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="col-sm-4">
                    <section id="text-12" class="widget widget_text clearfix">
                        <div class="widget-heading clearfix">
                            <h6><u>Connect With Us</u></h6>
                        </div>
                        <div class="textwidget">
                            <div style="margin-top: 5px;">
                                <a class="btn btn-twitter"><i class="fa fa-twitter"></i> | Visit Us On Twitter</a><br/>
                                <a class="btn btn-facebook" href="https://www.facebook.com/pages/New-Bethel-Assembly-of-God/116195988408526"><i class="fa fa-facebook"></i> | Visit Us On Facebook</a>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <!--// CLOSE #footer //-->
    </section>
</div>