<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <!--bootstrap, font awesome and custom stylesheets -->
  <script src="javascripts/jquery-1.11.1.min.js"></script>
  <script src="/javascripts/angular.min.js"></script>
  <script src="/javascripts/angular-route.min.js"></script>
  <script src="/javascripts/app.js"></script>
  <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="/stylesheets/stylesheet.css"/>
  <link rel="stylesheet" href="/stylesheets/socialButtons.css"/>
  <!-- Latest compiled and minified JavaScript bootstrap and jquery libraries -->
    <script src="javascripts/bootstrap.min.js"></script>
  <script src=""></script>
  <title>New Bethel Assembly of God</title>
</head>
<body>
<!--Top nav bar-->
<%-include nav.ejs%>
<div class="wrapper">
  <!--View of Page-->
  <div ng-view></div>
</div>
<!--footer-->
<%-include footer.ejs%>
</body>
</html>
