<div class="row">
    <div class="col-lg-12 col-lg-offset-4">
        <img src="images/mens_ministry.png" alt="" style="width: 35%; height: 35%"/>
    </div>
    <div class="col-lg-6 col-lg-offset-3">
        <center><h3>"Iron sharpened iron, so a man sharpened the countenance of his friend." -Proverbs 27:17 </h3></center>
    </div>
    <div class="col-lg-6 col-lg-offset-3">
        <blockquote>We consider men's ministry as an important tool at New Bethel Assembly. We believe in Mens groups
            like "Promise Keepers" and "Honor Bound: Men of Promise." As men, we need to meet together to get to know
            each other more, to learn how to be better husbands and fathers and commit to being a better servant to
            the body of Christ. The men's group meets for breakfast on the second Saturday of the month at 8am
            usually at Mark's Place in Coweta. We invite you to join us for a time of visiting and fellowship while
            we share breakfast and talk about God's word and how he has and is blessing us in our walk. Mark's Place
            is located behind and northeast of Mazzio's Pizza. Come join us as we learn together to become more Christ
            like.</blockquote>
    </div>
</div>