<div class="container">

    <div class="col-lg-12 col-lg-offset-2">
        <img class="logo" src="images/Mpact.png" alt="" style="width: 60%; height: 50%;"/>
    </div>

    <div class="col-lg-8 col-lg-offset-2">
        <blockquote>Mpact Girls Ministries is an exciting program for young children and girls from birth through high
            school, meeting Wednesdays at 6:30PM. Each age-appropriate club meets to learn new things together while participating in a theme-focused
            curriculum which includes games, outings, crafts, bible discussions, and many other fun Mpact related
            activities.</blockquote>
    </div>

    <div class="col-md-2 col-lg-offset-1 ">
        &nbsp;&nbsp;&nbsp;<img src="images/sunlight.png" alt=""/>
        <p><b>&nbsp&nbspSunlight Kids</b></p>
        <p>Birth - 36 Months</p>
    </div>
    <div class="col-md-2">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/rainbows.png" alt="" style="width: 38%; height: 38%"/>
        <p><b>&nbsp&nbspRainbow Club</b></p>
        <p>Age 3 - Preschool</p>
    </div>
    <div class="col-md-2">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/daisies.png" alt="" style="width: 38%; height: 38%"/>
        <p><b>&nbsp&nbspDaisies Club</b></p>
        <p>&nbsp;&nbsp;Kindergarten</p>
    </div>
    <div class="col-md-2">
        &nbsp;&nbsp;&nbsp;&nbsp;<img src="images/prims.png" alt="" style="width: 38%; height: 38%"/>
        <p><b>&nbsp&nbspPrims Club</b></p>
        <p>Grades 1st - 2nd</p>
    </div>
    <div class="col-md-2">
        &nbsp;&nbsp;&nbsp;&nbsp;<img src="images/stars.png" alt="" style="width: 38%; height: 38%"/>
        <p><b>&nbsp&nbspStars Club</b></p>
        <p>Grades 3rd - 5th</p>
    </div>
    <div class="col-md-6 col-lg-offset-0">
        <center><h3>The fivefold purpose of Mpact</h3></center>
        <ol type="1">
            <li>To win girls to Jesus Christ through love and acceptance.</li>
            <li>To teach them to obey everything Jesus commanded us—developing girls spiritually and mentally.</li>
            <li>To provide encouragement, support, and accountability through lasting Christian relationships.</li>
            <li>To provide an environment for girls to develop their gifts and abilities.</li>
            <li>To acquaint them with the Great Commission of Jesus Christ our Lord.</li>
        </ol>
    </div>
    <div class="col-md-5 col-lg-offset-0">
        <center><h3>Mpact Girls Club Code</h3></center>
        <p>
            “Whatsoever things are true, Whatsoever things are honest, Whatsoever things are just, Whatsoever things are pure,
            Whatsoever things are lovely, Whatsoever things are of good report: If there be any virtue, And if there be any praise,
            Think on these things.” –Philippians 4:8 </p>
    </div>
</div>