<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <img src="images/Royal Rangers.png" alt=""/>
    </div>

    <div class="col-lg-6 col-lg-offset-3">
        <center><h3>Ready. Ready for anything. Ready to work, play, serve, obey, worship, live, etc. </h3></center>
        <blockquote>Our Royal Rangers boys' ministry groups meet on Wednesday evenings at 7:00 p.m. in the activities
            building. Under the strong and caring leadership and examples of godly men, our boys are mentored, earning
            merit badges and acheivement awards as they learn about how to live a life that honors Jesus.</blockquote>

        <blockquote>As the boys progress through the Royal Rangers program, they complete advancement steps toward earning
            awards that are presented at quarterly Council of Achievement ceremonies. The ultimate goal of a Royal Ranger
            is to earn his Gold Medal of Achievement, presented at a special ceremony. </blockquote>
        <blockquote>A highlight for the whole church is the annual Pinewood Derby, where boys and adults alike can craft
            a race car from a block of pinewood and compete in a fun afternoon of racing. </blockquote>
    </div>
    <div class="container">
        <div class="col-md-2 col-lg-offset-2 ">
            <img src="images/RKweb.png" alt=""/><br/>
            <p><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ranger Kids</b></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Grades K - 2</p>
        </div>
        <div class="col-md-2  ">
            &nbsp;&nbsp;<img src="images/DRweb.png" alt=""/><br/>
            <p><b>Discovery Rangers</b></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;Grades 3 - 5</p>
        </div>
        <div class="col-md-2  ">
            &nbsp;&nbsp;<img src="images/ARweb.png" alt=""/><br/>
            <p><b>Adventure Rangers</b></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;Grades 6 - 8</p>
        </div>
        <div class="col-md-2  ">
            &nbsp;&nbsp;<img src="images/ERweb.png" alt=""/><br/>
            <p><b>Expedition  Rangers</b></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;Grades 9 - 12</p>
        </div>
    </div>
</div>
</div>