<div class="row">
    <div class="col-lg-12 col-lg-offset-5">
        <img src="images/womensministry.png" alt=""/>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
        <center><h3>What Ministers to a Women?</h3></center>
        <blockquote>Today like never before, women are hurting. They are overwhelmed with responsibilities and
            inundated with lies. Many come from unhealthy and dysfunctional backgrounds that have left them ill-equipped
            to handle life’s pressures. Due to heavy responsibilities and dissolving families, many women feel
            isolated and lonely.</blockquote>
        <blockquote>When a woman walks into a church, she is looking for someone to care, encourage, and listen to
            her—she desperately needs the Body of Christ. She wants to know that she is not alone, and she needs the
            hope that a personal relationship with Jesus can provide.</blockquote>
        <blockquote>We can discover what best ministers to a women when we understand her design. Genesis 2:18-24
            reveals that God created the first woman, Eve, with distinct differences from her counterpart, Adam.
            “Adam was created from the ground and was assigned tasks. [But] Eve was created from Adam’s side. She
            was designed specifically for relationship—created to meet Adam's relational need and equipped to bear
            and nurture children.”1</blockquote>
        <blockquote>Since creation, men and women have been distinctly different. Here are some general differences
            between most (although not all) men and women:</blockquote>
        <ul>
            <li><b>Emotionally: </b> Women process emotions through talking; they are more emotionally expressive.
                Men process emotions through action; they are more emotionally reserved.2 </li>
            <li><b>Verbally: </b>Women communicate mainly to express themselves; they expand on details. Men communicate
                mainly to exchange information; they condense details.3 </li>
            <li><b>Relationally: </b>The female hormone oxytocin promotes a  woman’s stronger desire to bond.4  </li>
        </ul>
        <blockquote>While sermons can challenge and inspire a woman, genuine life-change happens when someone enters
            her emotional world, connects with her, and encourages her on a personal level. She experiences the most
            growth within relationships that provide empathy, presence, conversation, and emotional connection.</blockquote>
        <blockquote>It would be unhealthy for a male pastor or leader to have the relationship described above with
            a woman in his congregation. The Bible tells us that women are the best models of godly behavior for other
            women (Titus 2). Women understand women. Allowing women to minister to other women will prevent unhealthy
            emotional attachments between male pastors and women in the congregation.5 This is why ministry to women,
            by women, is a vital part of a healthy congregation.</blockquote>
        <br/>
        <sup>1Kerry Clarensau, Secrets: Transforming Your Life and Marriage (Springfield: Gospel Publishing, 2009), 29.</sup>
        <sup>2Jimmy and Karen Evans, Marriage on the Rock (Ventura: Gospel Light, 2006), 216, 217.</sup>
        <sup>3H. Norman Wright, Communication:Key to Your Marriage (Ventura: Regal Books, 2000), 140, 142. </sup>
        <sup>4 Beverly White Hislop, Shepherding a Woman's Heart (Chicago: Moody Publishers, 2003), 60. </sup>
        <sup>5Ibid, 29.</sup>
        <sup>©2012 National Women’s Department, General Council of the Assemblies of God </sup>
    </div>
</div>
