<style>

    .logo{
        width: 98%;
    }
</style>

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <div class="row">
        <!--facebook embed code -->
        <div class="col-lg-2">
            <div class="fb-like-box" data-href="https://www.facebook.com/Momentumba" data-width="300" data-height="500" data-colorscheme="dark" data-show-faces="true" data-header="true" data-stream="true" data-show-border="false"></div>
        </div>
        <!--momentum logo-->
        <div class="col-lg-6 col-lg-offset-1">
            <img class="logo" src="images/momentum.png" alt=""/>
        </div>
        <!--twitter embed code-->
        <div class="col-lg-3">
            <a class="twitter-timeline" href="https://twitter.com/MomentumBA" data-widget-id="530077376151973888">Tweets by @MomentumBA</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class="container">


            <div class="col-lg-6 col-lg-offset-3">
                <h1>Momentum Youth Ministries</h1>
                <p>&nbspCome joins us Sunday nights at 6:00PM and Wednesdays at 6:30PM!</p>
                <br/>
                <div class="col-lg-8 col-lg-offset-2">
                    <h3>Listen to our latest podcast!</h3>
                </div>
                <div class="col-lg-6">
                    <!--embeded podcast, click the "embed" link on the podcast page and paste results over the following iframe to change podcast-->
                    <iframe height='85' width='440' frameborder='0' marginheight='0' marginwidth='0' scrolling='no'
                            src='http://nbaog.podomatic.com/embed/frame/posting/2014-10-26T10_16_46-07_00?json_url=http%3A%2F%2Fnbaog.podomatic.com%2Fentry%2Fembed_params%2F2014-10-26T10_16_46-07_00%3Fcolor%3D43bee7%26autoPlay%3Dfalse%26width%3D440%26height%3D85%26objembed%3D0'
                            allowfullscreen></iframe>
                    <div class="col-lg-12 col-lg-offset-6">
                        <p><a href="http://www.podomatic.com/profile/macguru12">Click Here </a>to view past podcasts!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>





