<div class="container">
<div class="jumbotron">
    <div class="row">
        <div class="col-sm-12">
            <h1>We Believe...</h1>
            <blockquote>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;The Bible is our all-sufficient rule for faith and practice.
                This statement of Fundamental Truths is intended simply as a basis of fellowship among us (i.e.,
                that we all speak the same thing,1 Corinthians 1:10; Acts 2:42). The phraseology employed in this
                statement is not inspired or contended for, but the truth set forth is held to be essential to a
                full-gospel ministry. No claim is made that it contains all Biblical truth; only that it covers
                our need as to these fundamentaldoctrines.</blockquote>
        </div>
    </div>
</div>
</div>