
<div class="row">
    <center><h2><u>Contact Info</u></h2></center>
    <br/>
    <div class="col-md-3 col-md-offset-1">
        <p><b>Physical Address:</b> 24918 E. 111th St.<br/>
            Broken Arrow, Ok. 74014
            *Mail is not received at this address</p>
    </div>
    <div class="col-md-2 col-md-offset-1">
        <div class="container">
            <p><b>Mailing Address:</b> PO Box 809<br/>
                Broken Arrow, Ok. 74013<br/>
                Telephone: 486-4059</p>
        </div>
    </div>
    <div class="col-md-2 col-md-offset-2">
        <p><b>Electronically:</b> Email us at pastordan@nbaog.org<br/>
            Also reach us on <a href="https://www.facebook.com/pages/New-Bethel-Assembly-of-God/116195988408526"
                                target="_blank">Facebook</a></p>
    </div>
</div>
</div>
