<div class="container">
<div class="jumbotron">
    <center><h1>Meet Our Pastor</h1></center>

    <div class="container" id="section1">
        <blockquote>Warren "Dan" Haase was born and raised in Nebraska and is one of 13 brothers and sisters who had
            spent their childhood years growing up in Nebraska and Iowa. He is a devout Cornhuskers fan having spent
            many Saturdays watching and cheering the Cornhuskers on to many victories. His deep Christian faith was
            nurtured by a very loving and caring mother and solidified by a stern, authoritive father who were also
            very faithful in their walk with Jesus and their Christian beliefs.</blockquote>

        <blockquote>While still a young boy, Dan's mother had succumbed to a life threatening illness which was a
            major turning point in his life and sealed his decision to serve the Lord. Dan, with a deep caring love
            for his mom prayed to God telling Him that if He would heal his mother he would serve Him the rest of his
            life. God honored Dan's prayer and his mother was healed.</blockquote>
    </div>
    <div id="img1">
        <img src="images/pastorDan.jpg"  class="img-rounded">
    </div>
    <div class="container" id="section2">
        <blockquote>Dan met Jan while in Bible College, began the normal courting rituals and the two eventually
            married. They have two grown children, Anthony and Cheree, who have given them five beautiful
            grandchildren combined. </blockquote>
        <blockquote>Dan and Jan lived in Broken Arrow and were members of Broken Arrow Assembly of God for over
            twenty years where Dan was a Royal Rangers Commander for ten of those years. </blockquote>
        <blockquote>After living in California for a short while, God began to tell Dan that his place was back
            in Oklahoma, and after many prayers and confirmations he and Jan packed up and returned to Broken
            Arrow to pastor New Bethel Assembly of God. </blockquote>
        <blockquote>He and Jan are very active in the church and activities and is still our awesome Pastor for
            which he has blessed us with his annointed, Holy Spirit led sermons since August of 2001. </blockquote>
    </div>
    <div id="img2">
        <img src="images/dan_jan.jpg"  class="img-rounded">
    </div>
</div>
</div>