<div class="row">
        <div class="col-sm-12">
            <br/>
            <center><h1>Service Times Schedule</h1></center>
            <br/>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-6">
                    <div class="container" id="sunday">
                        <center>
                            <h2><u>Sunday</u></h2>
                            <h3><b>9:30AM - </b></h3>
                            <ul>
                                <p>Sunday School (All classes)</p>
                            </ul>
                            <h3><b>10:30AM-</b></h3>
                            <ul>
                                <p>Praise & Worship Service in the main sanctuary</p>
                                <p>Childrens' Christian Education during service in the main building.</p>
                                <p>Child care provided if needed.</p>
                            </ul>
                            <h3><b>6:00PM-</b></h3>
                            <ul>
                                <p>Evening Praise & Worship Service in the main sanctuary.</p>
                                <p>Momentum Youth Service - Youth Building</p>
                                <p>Children's Church - Fellowship Hall</p>
                                <p>Child care provided if needed.</p>
                            </ul>
                        </center>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="container" id="wednesday">

                            <center>
                                <h2><u>Wednesday</u></h2>
                                <h3><b>5:00PM-</b></h3>
                                <ul>
                                    <p>Wednesday Evening Meal Deal. Adults $3.00, children $2.00.</p>
                                </ul>
                                <h3><b>5:45PM through  6:15PM-</b></h3>
                                <ul>
                                    <p>Intercessory Prayer Service in the main sanctuary.</p>
                                </ul>

                                <h3><b>6:30PM-</b></h3>
                                <ul>
                                    <p>Worship Service & Bible Study in the main sanctuary.</p>
                                    <p>Mpact Girls in the Activities Building.</p>
                                    <p>Royal Rangers in the Activities Building.</p>
                                    <p>Momentum Youth Service - New Youth Building.</p>
                                    <p>Child care provided if needed.</p>
                                </ul>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

